@CHARSET "UTF-8";

.center-align {
  float: none;
  margin: 0 auto;
}

.hover-button {
  border-radius: 2rem;
  background-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  overflow: hidden;
  position: relative;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.hover-button:hover::before {
  margin-left: 0;
}

.hover-button span {
  position: relative;
  z-index: 1;
}

.hover-button::before {
  content: '';
  height: 100%;
  width: 200%;
  margin-left: -100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(to right, #3366cc, #2b82d0, #adc2eb, #2b82d0, #3366cc);
  filter: contrast(150%);
  transition: 0.3s
}

div.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lecture-list {
  text-align: center;
}

table {
  text-align: center;
  width: 100%;
  border: 1px solid #444444;
}
th, td {
  border: 1px solid #444444;
}
